@import "../theme"

.image-viewer
    margin: 10px
    overflow: auto

.split
    height: 43%
    width: 100%
    z-index: 1
    left: 0
    overflow-y: hidden

.container
    height: 100%

/* Control the top */
.top
    top: 0

/* Control the bottom */
.bottom
    bottom: 0

#metadata-table
    width: 100%
    overflow-y: auto

table
    width: 100%

.mat-row:nth-child(even)
    background-color: $even-row-color

.mat-row:nth-child(odd)
    background-color: $odd-row-color

.mat-cell
    color: $cell-text-color
    justify-content: center
