<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!-- Toolbar -->
<div class="toolbar" role="banner">
  <mat-toolbar>
    
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigate('upload')">Upload</button>
      <button mat-menu-item (click)="navigate('records')">Reviewed</button>
      <button mat-menu-item (click)="navigate('unreviewed')">Unreviewed</button>
    </mat-menu>
    <span>Probate Review</span>
    <span class="example-spacer"></span>
    <amplify-authenticator>
      <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
        <h1>Welcome {{ user.username }}!</h1>
        <button (click)="signOut()">Sign Out</button>
      </ng-template>
    </amplify-authenticator>
  
    </mat-toolbar>
    
</div>


<div class="content" role="main">
  <router-outlet></router-outlet>      
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

