@import "../theme"

.image-viewer 
    margin: 10px
    overflow: auto

ul 
    list-style-type: none

button
    height: 35px
    margin: 5px

input
    width:100%
    margin:-3px
    border:2px inset #eee

.highlight 
    border: 1px solid $primary-color
    background-color: transparent

.select 
    border: 1px solid $secondary-color
    background-color: transparent

.word-select
    border: 1px solid $primary-color
    background-color: transparent

#review-form
    margin: auto
    padding:8px
    width: 100%
    overflow-x: hidden
    overflow-y: auto
    text-align:justify
    border: 2px solid $secondary-color
    border-radius: 16px
    height: 400px

#seadragon-viewer    
    height: 400px
    margin: auto

.container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
   
table
    width: 100%


th, td 
  text-align: left
  padding: 8px


tr:nth-child(even) 
    background-color: #f2f2f2

.split 
  height: 50%
  width: 100%  
  z-index: 1
  left: 0


/* Control the top */
.top 
  top: 0

/* Control the bottom */
.bottom 
  bottom: 0

.form-button    
    color: white
    background-color: $primary-color
    margin-right: 10px

.buttonBar
    display: flex
    justify-content: center
    position: sticky
    top: 0
    margin: 0    

.submit-button
    background-color: $primary-color
    color: white

.centered
    display: flex
    justify-content: center
    align-items: center
    position: sticky
    bottom: 0
    background-color: white
    margin: 0

#line-items-table
    height: 100%
    overflow: auto