<div style="width: 100%; height: 100%;">
  <as-split direction="horizontal">
    <as-split-area [size]="40">
        <div id="seadragon-viewer" #viewer (contextmenu)="displayContextMenu($event);"></div>
    </as-split-area>
    <as-split-area [size]="60">
        <div id="review-form" class="flex-child">        
            <h1> Enter your corrections below </h1>
            <div *ngIf="record != null">
                <table mat-table #table [dataSource]="record!.lineItems!.items" cdkDropList [cdkDropListData]="record!.lineItems!.items" (cdkDropListDropped)="drop($any($event))" class="mat-elevation-z8">
        
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                    <ng-container matColumnDef="title">
                      <th mat-header-cell *matHeaderCellDef>Text</th>
                      <td mat-cell *matCellDef="let line"> {{line.title}}</td>
                    </ng-container>          
                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef> Category </th>
                        <td mat-cell *matCellDef="let line"> {{line.category}} </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="subcategory">
                          <th mat-header-cell *matHeaderCellDef> Subcategory </th>
                          <td mat-cell *matCellDef="let line"> {{line.subcategory}} </td>
                        </ng-container>
                    <ng-container matColumnDef="quantity">
                      <th mat-header-cell *matHeaderCellDef> Quantity </th>
                      <td mat-cell *matCellDef="let line"> {{line.quantity}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef> Value </th>
                        <td mat-cell *matCellDef="let line"> {{line.value}} </td>
                      </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag></tr>
                </table>
            </div>    
        </div>
    </as-split-area>
  </as-split>
</div>
