@import "../theme"

.flex-child
    margin-left: 10px

#seadragon-viewer
    height: 100%
    position: -webkit-sticky
    position: sticky
    top: 0
    font-size: 20px

.action-link
    cursor: pointer

mat-checkbox
    margin-right: 20px

.mat-raised-button
    margin-right: 10px
    margin-bottom: 10px

.form-button
    color: white
    background-color: $primary-color
    margin-right: 10px

.form-checkbox
    color: $secondary-color
    background-color: $primary-color

.highlighted-line
    border: 2px solid $primary-color
    background-color: transparent

.selected-line
    border: 1px solid $secondary-color
    background-color: transparent

mat-form-field input
    padding: 6.125px 0px
