<ng-container *ngIf="dataSource">
  <mat-table [dataSource]="dataSource!" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="checked">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="toggleAllChecks($event)"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          color="primary"
        ></mat-checkbox>
      </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let collection">
        <mat-checkbox
          (change)="toggleCheck(collection)"
          [checked]="selection.isSelected(collection)"
          (change)="selectionChanged()"
          color="primary"
        ></mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="id">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let collection">{{ collection.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let collection">{{ collection.title }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
      <mat-cell *matCellDef="let collection">{{ collection.description }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-raised-button color="primary" (click)="createNewRecord()">Create</button>
        <button mat-raised-button color="primary" [disabled]="selection.selected.length === 0" (click)="deleteSelected()">Delete</button>
      </mat-header-cell>
      <mat-cell *matCellDef="let collection">
        <a [routerLink]="['/probate-record-collections', collection.id]">View Details</a>
      </mat-cell>
    </ng-container>
    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
 
</ng-container>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>