<mat-toolbar color="primary">
  <span mat-dialog-title style="color:white">Select Probate Record Collections</span>
</mat-toolbar>
<div id="dialog-container" mat-dialog-content>
<app-load-collection-list-view [showCheckBoxes]="true" [showActions]="false"
  (selectedCollections)="onProbateRecordCollectionsSelected($event)"
></app-load-collection-list-view>

<div id="button-row">
  <button mat-raised-button color="primary" [mat-dialog-close]="getSelected()">Select</button>
  <button mat-raised-button color="primary" (click)="cancelDialog()">Cancel</button>
  </div>
</div>