<ng-container *ngIf="probateRecordCollection$ | async as probateRecordCollection">
  <h2>{{ probateRecordCollection.title }}</h2>
  <p>{{ probateRecordCollection.description }}</p>

  <div>
    <h3>Probate Records:</h3>
    <div>
      <!-- Your existing component content -->

      <!-- <button mat-raised-button color="primary" (click)="openSelectProbateRecordsDialog()">Select Probate
        Records</button> -->
    </div>
    <app-selectable-record-list-view [records]="probateRecords" [showCheckBoxes]="true" [showLocked]="true"></app-selectable-record-list-view>
  </div>
</ng-container>