/* You can add global styles to this file, and also import other style files */
@import "./app/theme"
@import '@aws-amplify/ui/styles.css'
body, html
    height: 100%
    overflow-y: auto
    font-family: "Berlingske Sans", "Arial", sans-serif
    font-weight: 500
    scroll-behavior: smooth
    
.feedback
    height: 100%
    margin-left: 5px

.feedback a:link, a:visited
    color: $primary-text-color

.mat-dialog-container 
    padding: 0px !important

.mat-form-field-underline
    color: $primary-color

.mat-form-field-ripple
    color: $primary-color

.mat-form-field-hint-spacer
    color: $primary-color !important
