@import "../theme"
@include mat-toolbar-theme($usc-app-theme)
@include mat-form-field-theme($usc-app-theme)

#dialog-container
    margin: auto
    text-align: center
    padding-top: 50px

#button-row
    margin: auto
    text-align: center

button
    margin-left: 10px

.mat-form-field-empty.mat-form-field-label 
    color: $primary-color

.mat-form-field-underline 
    color: $primary-color

.mat-form-field-ripple
    color: $primary-color

.mat-form-should-float
    color: $primary-color

mat-label 
    color: $primary-color

    